body{
	background: #d2d2c1 url('ProjetoFinalAnnaBella/imagens/fundo.png');
	font: 16px Arial, Helvetica, sans-serif;
}

#principal {
    
    width: 100%;
    
}

#image{
	margin: 0 auto;
	text-align: center;
	
		
	}
   

li {
	margin-right: 50px;
}

#menu {
	list-style: none;
	background-color:  #c8c5b2;
	display: flex;
	padding: 20px 25%;
	margin: 10px 10px;
	
	width: 50%;
	text-align:center;
	
    
}

.menu{
	text-align: center;
}

#conteudo {
	background: #e8e8d9;
	padding: 0px 20%;
	
}

#rodape {
	text-align: center;
}

a {
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

.centralizar {
	text-align: center;
}

.img-campanha {
	border: 10px solid #c3c3ae;
}

h1 {
	color: #828271;
	font-size: 1.2em;
	text-align: center;
	font-size: 40px;
}

p{
	text-align: justify;
}

#contato {
	text-align: center;
	padding: 0px 20%;
}